<form method="post">
<h4>Добавить:</h4>

<div class="container">
  <div class="row">

    <div class="col-sm">
        <h5>ФОТО:</h5>
        <img src="..." class="img-thumbnail" alt="....">
      <p>
        <label>Фото обложки:</label><br />
        <input type="text" name="img"/>
     </p>
    </div>

    <div class="col-sm">      
    <h5>КНИГА:</h5>
       <p>
        <label>Название:</label><br />
        <input type="text" name="title"/>
    </p>
    <p>
        <label>Аннотация:</label><br />
        <textarea name="annotation"></textarea>
    </p>
    </div>

         <div class="col-sm">      
            <h5>ЖАНР:</h5>
            <p>
                <label>Название:</label><br />
                <input type="text" name="Name"/>
            </p>
            
         </div>



    <div class="col-sm">
       <p>
        <h5>АВТОР:</h5>
    </p>
    <p>
        <label>Фамилия:</label><br />
        <input type="text" name="Surname"/>
    </p>
    <p>
        <label>Имя:</label><br />
        <input type="text" name="Firstname"/>
    </p>
    <p>
        <label>Отчество:</label><br />
        <input type="text" name="Secondname"/>
    </p>
    <p>
        <label>Биография:</label><br />
        <textarea name="Biography"></textarea>
    </p>
    <p>
        <label>Чтец:</label><br />
        <input type="checkbox" name="IsReader" value="false"/>
    </p>
   

    </div>
    <div class="col-sm">
     <p> 
        <h5>НА СКЛАД:</h5>
    </p>
     <p>
        <label>Количество:</label><br />
        <input type="text" name="CountBook"/>
    </p>
    <p>
        <label>Цена:</label><br />
        <input type="number" name="Price" step="0.01"/>
    </p>
    </div>
  </div>
</div>

    <p>
        <input type="submit" value="Добавить в список"/>
    </p>
</form>
